name: lint

on:
  workflow_call:
    inputs: {}
  pull_request:
    branches:
      - main
      - v*
      - feature*

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
      - name: Install go
        uses: actions/setup-go@v5
        with:
          # The versions of golangci-lint and setup-go here cross-depend and need to update together.
          go-version: '1.24'
          # Either this action or golangci-lint needs to disable the cache
          cache: false
      - name: Install mockgen
        run: go install github.com/golang/mock/mockgen@v1.6.0
      - name: Generate mocks
        run: go generate ./...
      - run: go mod tidy
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
